In [1]:
# Steps that I took to clean the data and preprocess the data
# Dropping unnecessary columns
# Convert TotalCharges to numeric
# Handle missing values
# I used label encoding for Binary Categorical Columns
# I used one-hot encoding for multi-class categorical columns

In [7]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [4]:
file_path = 'WA_Fn-UseC_-Telco-Customer-Churn.csv'
data = pd.read_csv(file_path)

In [5]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [9]:
# Dropping the unnecessary columns
data_cleaned = data.drop(columns=["customerID"])

In [10]:
# Convert 'TotalCharges' to numeric, coerce errors to NaN
data_cleaned["TotalCharges"] = pd.to_numeric(data_cleaned["TotalCharges"], errors="coerce")

In [11]:
# Handle missing values in 'TotalCharges' (replace with the median)
data_cleaned["TotalCharges"].fillna(data_cleaned["TotalCharges"].median(), inplace=True)

C:\Users\lebro\AppData\Local\Temp\ipykernel_21492\586692483.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_cleaned["TotalCharges"].fillna(data_cleaned["TotalCharges"].median(), inplace=True)

In [13]:
# Label encode binary categorical columns
binary_columns = [
    "gender", "Partner", "Dependents", "PhoneService", "PaperlessBilling", "Churn"
]
label_encoders = {}
for col in binary_columns:
    le = LabelEncoder()
    data_cleaned[col] = le.fit_transform(data_cleaned[col])
    label_encoders[col] = le

In [14]:
# One-hot encode multi-class categorical columns
multi_class_columns = [
    "MultipleLines", "InternetService", "OnlineSecurity", "OnlineBackup",
    "DeviceProtection", "TechSupport", "StreamingTV", "StreamingMovies",
    "Contract", "PaymentMethod"
]
data_encoded = pd.get_dummies(data_cleaned, columns=multi_class_columns, drop_first=True)

In [15]:
data_encoded.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,...,TechSupport_Yes,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,1,0,1,29.85,29.85,0,...,False,False,False,False,False,False,False,False,True,False
1,1,0,0,0,34,1,0,56.95,1889.50,0,...,False,False,False,False,False,True,False,False,False,True
2,1,0,0,0,2,1,1,53.85,108.15,1,...,False,False,False,False,False,False,False,False,False,True
3,1,0,0,0,45,0,0,42.30,1840.75,0,...,True,False,False,False,False,True,False,False,False,False
4,0,0,0,0,2,1,1,70.70,151.65,1,...,False,False,False,False,False,False,False,False,True,False

In [18]:
data_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 31 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   gender                                 7043 non-null   int32
 1   SeniorCitizen                          7043 non-null   int64
 2   Partner                                7043 non-null   int32
 3   Dependents                             7043 non-null   int32
 4   tenure                                 7043 non-null   int64
 5   PhoneService                           7043 non-null   int32
 6   PaperlessBilling                       7043 non-null   int32
 7   MonthlyCharges                         7043 non-null   float64
 8   TotalCharges                           7043 non-null   float64
 9   Churn                                  7043 non-null   int32
 10  MultipleLines_No phone service         7043 non-null   bool
 11  MultipleLines_Yes                      7043 non-null   bool
 12  InternetService_Fiber optic            7043 non-null   bool
 13  InternetService_No                     7043 non-null   bool
 14  OnlineSecurity_No internet service     7043 non-null   bool
 15  OnlineSecurity_Yes                     7043 non-null   bool
 16  OnlineBackup_No internet service       7043 non-null   bool
 17  OnlineBackup_Yes                       7043 non-null   bool
 18  DeviceProtection_No internet service   7043 non-null   bool
 19  DeviceProtection_Yes                   7043 non-null   bool
 20  TechSupport_No internet service        7043 non-null   bool
 21  TechSupport_Yes                        7043 non-null   bool
 22  StreamingTV_No internet service        7043 non-null   bool
 23  StreamingTV_Yes                        7043 non-null   bool
 24  StreamingMovies_No internet service    7043 non-null   bool
 25  StreamingMovies_Yes                    7043 non-null   bool
 26  Contract_One year                      7043 non-null   bool
 27  Contract_Two year                      7043 non-null   bool
 28  PaymentMethod_Credit card (automatic)  7043 non-null   bool
 29  PaymentMethod_Electronic check         7043 non-null   bool
 30  PaymentMethod_Mailed check             7043 non-null   bool
dtypes: bool(21), float64(2), int32(6), int64(2)
memory usage: 529.7 KB

In [17]:
print(data_encoded.dtypes.value_counts())

bool       21
int32       6
int64       2
float64     2
Name: count, dtype: int64

#### Note that one-hot encoding columns are treated as boolean, meaning they are effectively stored as 1s and 0s in the underlying data type

In [16]:
# Export the cleaned and encoded dataset to a CSV file
export_path = 'cleaned_telco_churn_data.csv'
data_encoded.to_csv(export_path, index=False)